<p id="notice"><%= notice %></p>
<div>
  <%= link_to "Edit Profile", edit_user_path(@user), :class => 'btn btn-primary' %>
  <%= link_to "Add New Home", new_home_url, :class => "btn btn-primary" %>
</div>
<div>
    <ul style="list-style: none;">
      <% @user.homes.each do |home| %>
          <li>
            <%= home.name %><%= home.location%><%= link_to "View Home", home_url(home.id), :class => "btn" %>

          </li>
      <% end %>
  </ul>
</div>
<div>
<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Password digest:</strong>
  <%= @user.password_digest %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
</div>
