<p id="notice"><%= notice %></p>
<div>
  <%= link_to "Edit Profile", edit_user_url(current_user.id), :class => 'btn btn-primary' %>
  <%= link_to "Add New Home", new_home_url, :class => "btn btn-primary" %>
</div>
<div>
    <ul>
      <% @user.homes.each do |home| %>
          <li>
            <%= home.name %><%= home.location%>

              <% home.rooms.each do |room| %>
                <%= room.category %>

                  <% room.pictures.each do |pic| %>
                   <%= image_tag pic.source %>

                     <%= room.comments.each do |comment| %>
                      <%= comment.text %>

                     <% end %>
                  <% end %>
              <% end %>
          </li>
      <% end %>
  </ul>
</div>
<div>
<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Password digest:</strong>
  <%= @user.password_digest %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
</div>
