<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @home.name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @home.location %>
</p>

<%= link_to 'Edit', edit_home_path(@home) %> |
<%= link_to 'Back', homes_path %>

<p>
  <h3>Rooms to <%= "#{@home.name}" %></h3>
  <ul>
  <% @home.rooms.each do |room| %>
    <li>
      <%= room.category %><%= link_to "View Room", room_url(room.id), :class => "btn" %>
    </li>
  <% end %>
</ul>
</p>
